<!doctype html>
<html ng-app="jsparser">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Analyzer</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body ng-controller="MainController">
  <div class="wrapper">
    <div class="container">
      <header>
        <h1>JS Analyzer</h1>
      </header>
      <div class="editor">
        <button ng-click="testCode()" class="btn btn-primary">Test Code</button>
        <div ui-ace="{
          mode: 'javascript',
          theme: 'monokai',
          useWrapMode: true
        }" ng-model="code"></div>
      </div>
      <div class="spec-runner">
        <div class="spec-container" ng-cloak>
          <div class="specs whitelist">
            <h3>Whitelist</h3>
            {{ whitelist.pass }}
            {{ whitelist.tests }}
          </div>
          <div class="specs blacklist">
            <h3>Blacklist</h3>
            {{ blacklist.pass }}
            {{ blacklist.tests }}
          </div>
          <div class="specs structure">
            <h3>Structure</h3>
            {{ structure.pass }}
            {{ structure.tests }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DEPENDENCIES -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="/bower_components/angular-ui-ace/ui-ace.min.js"></script>

  <!-- APP FILES -->
  <script src="app.js"></script>
</body>

</html>