@import '_reset';
@import '_variables';
@import '_typography';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-stack;
  color: $base-font-color;
  font-size: calc($base-font-size)px;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:link, a:visited {
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: block;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;

  @neat-outer-container;
}

.editor {
  margin-bottom: 40px;

  @neat-fill-parent;
}

.errors {
  margin-bottom: 40px;
  padding: 20px;

  @neat-fill-parent;
}

.errors p {
  margin: 0;
}

.spec-runner {
  @neat-fill-parent;
}

.specs {
  margin-bottom: 40px;
  padding: 20px;

  @neat-fill-parent;
}

.specs:nth-of-type(2n) {
  background: $lightest-gray;
}

.ace_editor {
  min-height: 200px;
}

.spinner {
  background: url('../img/spinner.gif') center center no-repeat transparent;
  display: block;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
  display: none !important;
}

.pass {
  color: $green;
  font-weight: $semibold-weight;
}

.fail {
  color: $red;
}

.valid {
  background: color($green l(+40%));
}

.invalid {
  background: color($red l(+40%));
}

.errors-list,
.tests-list li {
  margin-left: 20px;
}

@media (--medium) {
  .specs {
    @neat-span-columns 4;
  }
}