@import '_reset';
@import '_variables';
@import '_typography';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-stack;
  color: $base-font-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:link, a:visited {
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: block;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;

  @neat-outer-container;
}

.editor {
  @neat-span-columns 6;
}

.spec-runner {
  @neat-span-columns 6;
}

.ace_editor {
  height: 200px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
  display: none !important;
}